 

body {
  font-size: 62.5%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-color: #f0f2f5;
}
 

.inputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.adminTitle {
  
text-align: center;
font-size: 2.5rem;
margin-bottom: 2rem;
font-weight: bold;
color: #333;
}

.img {
  margin : 1rem 0;
max-height: 500px;
max-width: 500px;
max-width: 100%;
object-fit: cover;
border-radius: 8px;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 
}

.btnImg {
cursor: pointer;
background: none;
border: none;
transition: transform 0.3s ease;
}
 

/* inputImgJsx */
.chooseFileContainer {
  margin-top: 1rem;
 
}
 
 
/* HEADER JSX COMPONENT */
.header {
display: flex;
justify-content: space-between;
align-items: center;
}

.logout-container {
  margin-left: auto; /* Ensure the logout icon stays at the far right */
}


.menu-buttons {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.logout {
  width: 3rem;
  cursor: pointer;
  }

.header button {
font-size: 1.5rem;
}

/* Sidebar */

.sidebar {
  width: 200px;               
  height: 100vh;            
  background-color: #f4f4f4;   
  padding: 20px;              
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);  
   
}
 

.sidebar ul {
  list-style-type: none;     
  padding: 0;      
  font-size: 2rem;          
}

.sidebar li {
  margin: 20px 0;           
}

.sidebar a {
  text-decoration: none;     
  color: #333;              
  display: block;           
  padding: 10px;           
  border-radius: 4px;        
}

.sidebar a:hover {
  background-color: #e2e2e2; /* Change background on hover */
}

.sidebar-item {
cursor: pointer;
}

/* MY-WORKS */
.buttonMyWorks {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.photoSessionsDataContainer {
 background:lightsteelblue;
display: flex;
 flex-direction: column;
 text-align: center;
}

.photoSessionDataContainer {
display: flex;
 flex-direction: column;
 margin: 0 auto;
}

.generalInfo {
border: 1px solid grey;
background: rgb(194, 230, 241)
}

.generalInfoTitle {
text-align: center;
margin-top: 2rem;
}

/* mainPhotoSessionForm */
.photoSessionsContainer {
  display: flex;
  height: 100vh;
}

.mainPhotoSessionForm {
 flex-grow: 1;
}

.mainPhotoSessionForm h1 {
  text-align: center;
  margin-top: 2rem;
}

.mainPhotoSessionBtn {
 text-align: center;
}

.imgData-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
  grid-template-rows: repeat(2, auto);   
  gap: 10px; 
}

.img-container {
  display: flex;
  flex-direction: column;  
  align-items: center; 
}

.btn-container {
  display: flex;
  justify-content: space-around;  
   
}

.upload-img {
text-align: center;
}

.buttons-container {
  display: flex;
 
   
}
.buttons-container > button {
margin: 1rem 0.5rem;
}

.deletePhotoSession {
margin-top: 1rem;
}

.footer-container {
  margin-top: 2rem;
  text-align: center;

}